* {
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    background-color: black;
    color: antiquewhite;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    position: fixed;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 30px;
    font-size: 2.5rem;
    
    
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
    font-size: 1.9rem;
}


h3 {
    font-size: 1.9rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 5px;
}

h4 {
    font-size: 1rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding-left: 5px;
    padding-bottom: 5px;
}

body {
    background-color: rgb(241, 241, 241);
}

.container {
    display: block;
    background-color: white;
    width: 95%;
    box-shadow: 2px 2px #808080;
    margin: 0 auto;
    max-width: 90%;
    max-height: 90%;
    min-width: 0;
    min-height: 0;
    margin-top: 40px;


}

footer {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    background-color: black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

}

p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: justify;
    padding: 10px;
    font-size: 1.6rem;
}

.texto-footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    font-size:  1.6rem;
    padding-bottom: 10px;
}

.compre {
    background-color: aqua;
    width: 150px;
    height: 150px;
    position: fixed;
    right: 0;
    text-align: center;
    margin-top: 8%;
    z-index: 1;
}